h1 {
    background-color: blanchedalmond;
}

.c h4{
    text-align: center;
    font-size: 48px;
    color: blue;
    background-color:green;
}
.g h4{
    text-align: center;
    font-size: 48px;
    color: blueviolet;
    background-color: pink;
}
.g{
    background-color: lightskyblue;
}
.b h4{
    text-align: center;
    font-size: 48px;
    color: coral;
    background-color: darkmagenta;
}
.b{
    background-color: coral;
}
.s h4{
    text-align: center;
    font-size: 48px;
    color: deeppink;
    background-color: aquamarine;
}
.s {
    background-color:indianred;
}
.t h4{
    text-align: center;
    font-size: 48px;
    color: brown;
    background-color: cornflowerblue;
}
.t {
    background-color: pink;
}